/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  body,html{
    /*background: url("/assets/Word-Art1.jpeg");*/
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0;
    padding: 0 0;
    scroll-behavior: smooth;
  }

  nav{
    border: 3px solid black;
    left: 0;
    top: 0;
    margin: 0 0;
    padding: 0 0;
  }

  #body-grid{
    margin: 0 0;
    padding: 0 0;
  }

  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  
  nav > ul{
    list-style-type: none;
    margin: 0 0;
    padding:0 0
  }

  nav > ul > *{
    display: inline-block;
    margin: 30px;
    font-size: x-large;
  }

  #nav-title{
    background-color: rgb(251, 231, 206);
    border-left: 3px solid black;
    border-right:3px solid black;
    margin: 0 500px 0 0;
    padding: 30px 200px;
    font-size: xx-large;
  }

  #sec1{
    border: 3px solid black;
    float: left;
    height: fit-content;
    height: -moz-fit-content;
    margin: 0 0;
    padding: 0 0;
    width: fit-content;
    width: -moz-fit-content;
  }

  #sec1 > img{
    display: block;
  }

  #sec2{
    border-bottom: 3px solid black;
    border-right:3px solid black;
    float: left;
    width: 40%;
    padding: 100px 100px 444px 100px;
  }

  #sec2 > h1{
    font-size: xx-large;
    margin: 26.5px;
  }

  #sec2 > p{
    font-size: larger;
  }

  #sec3{
    background-color: rgb(251, 231, 206);
    border-right:3px solid black;
    border-bottom: 3px solid black;
    float: left;
    width: 598px;
    min-height: 100%;
    padding: 100px 100px 400px 100px;
  }

  #sec3 > h2{
    font-size: xx-large;

  }

  #sec3 > p{
    font-size: larger;
  }

  #sec4{
    clear:both;
    border-bottom:3px solid black;
    border-left:3px solid black;
    border-right:3px solid black;
    float: left;
    min-height: 100%;
    padding: 100px 100px 142px 100px;
  }

  #sec4 > a > img{
    box-shadow: 3px 3px 20px rgb(252, 205, 148);
  }

  #sec4 a ~a{
    text-decoration: none;
    font-size: larger;
    text-align: center;
    color: black;
  }

  #sec5{
    background-color: rgb(251, 231, 206);
    border-right:3px solid black;
    border-bottom: 3px solid black;
    float: left;
    width: 685px;
    min-height: 100%;
    padding: 100px 100px 388px 100px;
  }

  #left-arrow{
    background-color: rgb(248, 245, 241);
    font-size: xx-large;
    margin-left: -100px;
    padding: 25px;
  }

  #right-arrow{
    background-color: rgb(248, 245, 241);
    font-size: xx-large;
    margin-left: 510px;
    padding: 25px;
  }

  #sec6{
    border-right:3px solid black;
    border-bottom: 3px solid black;
    float: left;
    width: fit-content;
    width: -moz-fit-content;
    background-color: aliceblue;
  }

  #sec6 img{
    margin: 0 0;
    display: block;
  }

  #sec6 > a{
    text-decoration: none;
    color: black;
  }

  #sec6 h2{
    display: inline;
    margin-left: 250px;
  }

  #sec7{
    background-color: rgb(251, 231, 206);
    clear:both;
    border-bottom:3px solid black;
    border-left:3px solid black;
    border-right:3px solid black;
    float: left;
    padding: 100px 100px 142px 100px;
  }

  #sec7 > ul{
    list-style-type: none;
    padding-top: 30px;
    font-size: larger;
  }
  #sec7 li{
    padding: 5px;
  }

  #sec8{
    border-right:3px solid black;
    border-bottom: 3px solid black;
    float: left;
    width: 685px;
    min-height: 100%;
    padding: 100px 100px 397px 100px;
  }


  #sec9{
    background-color: rgb(251, 231, 206);
    border-right:3px solid black;
    border-bottom: 3px solid black;
    float: left;
    font-size: x-large;
    width: 625px;
    min-height: 100%;
    padding: 100px 100px 217px 140px;
  }

  #sec10{
    clear:both;
    border-bottom:3px solid black;
    border-left:3px solid black;
    border-right:3px solid black;
    float: left;
    padding: 286px 500px 266px 100px;
  }

  #sec11{
    background-color: rgb(251, 231, 206);
    border-bottom:3px solid black;
    border-right:3px solid black;
    float: left;
    padding: 200px 300px 266px 100px;
  }

  #sec12{
    border-bottom:3px solid black;
    border-right:3px solid black;
    float: left;
    padding: 0px 127px 0px 128px;
  }

  #sec12 > a{
    box-shadow: 15px 10px 15px rgb(17, 101, 101);
    text-decoration: none;
    color: black;
  }

  #sec12 h2{
    padding-left: 100px;
  }

  #sec13{
    clear: both;
    background-color: rgb(248, 245, 241);
    border-bottom:3px solid black;
    border-right:3px solid black;
    float: left;
    padding: 50px 264px 42px 264px;
  }

  #sec14{
    background-color: rgb(248, 245, 241);
    border-bottom:3px solid black;
    border-right:3px solid black;
    float: left;
    padding: 50px 264px 42px 264px;
  }

  #sec15{
    background-color: rgb(248, 245, 241);
    border-bottom:3px solid black;
    border-right:3px solid black;
    float: left;
    padding: 71px 201px 71px 205px;
  }